body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1dd1a1;
}
.Login
{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 1);
}
.Login h2
{
    font-weight: 500;
    border-left: 15px solid #1dd1a1;
    line-height: 1em;
    padding-left: 10px;
    transition: 0.5s;
    color: #333;

}
.Login .inputBox
{
    position: relative;
    
}
.Login .inputBox input
{
    position: relative;
    width: 99%;
    padding: 10px 1px;
    outline: none;
    border: 2px solid #555;
    font-size: 1em;
    color: #333;
}
.Login .inputBox input#btn
{
    border: none;
    background: #1dd1a1;
    color: #fff;
    transition: 0.5s;
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
    cursor: pointer;

}
.Login .group
{
    display: flex;
    justify-content: space-between;
}
