body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1dd1a1;
}
.Login
{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 1);
}
.Login h2
{
    font-weight: 500;
    border-left: 15px solid #1dd1a1;
    line-height: 1em;